@font-face {
  font-family: "GoodTimes";
  src: url("font/good_times.OTF");
  font-weight: 800;
  font-style: normal;
}
html, body, #root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.tcs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-rows: 100px 1fr;
}
.tcs .header {
  grid-area: header;
  background-color: #002a4d;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.tcs .header .logo {
  height: 100%;
  padding: 25px;
}
.tcs .header .link {
  color: white;
  font-family: "GoodTimes";
  text-decoration: none;
}
.tcs .leaderboard_table {
  position: relative;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #002a4d;
}
.tcs .leaderboard_container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-area: content;
  background-color: #041e3f;
  padding: 20px 5%;
}
.tcs .leaderboard_container .page-manager {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tcs .leaderboard_container .page-manager .page-btn {
  color: white;
  height: 35px;
  width: 140px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.tcs .leaderboard_container .page-manager .page-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.tcs .row_container {
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  column-gap: 5px;
  width: 100%;
  height: 45px;
}
.tcs .row_container .wins, .tcs .row_container .elims, .tcs .row_container .avgplace {
  display: none !important;
}
@media (min-width: 769px) {
  .tcs .row_container {
    grid-template-columns: 0.8fr 3fr 1fr 1fr;
  }
  .tcs .row_container .wins {
    display: flex !important;
  }
}
@media (min-width: 890px) {
  .tcs .row_container {
    grid-template-columns: 0.8fr 3fr 1fr 1fr 1fr;
  }
  .tcs .row_container .elims {
    display: flex !important;
  }
}
@media (min-width: 1000px) {
  .tcs .row_container {
    grid-template-columns: 0.8fr 5fr 1fr 1fr 1fr 1fr;
  }
  .tcs .row_container .avgplace {
    display: flex !important;
  }
}
.tcs .row_container .rank_container {
  height: inherit;
  background-color: #e0e5ea;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GoodTimes";
  font-size: 1rem;
}
.tcs .row_container .name_container {
  height: inherit;
  width: inherit;
  background-color: #e0e5ea;
  border-radius: 0;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "GoodTimes";
  font-size: 1rem;
}
.tcs .row_container .info_box {
  height: inherit;
  width: inherit;
  border-radius: 0;
  background-color: #e0e5ea;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GoodTimes";
  color: #002a4d;
  font-size: 1rem;
}
.tcs .header_container {
  box-shadow: none;
  border-radius: 0;
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  column-gap: 5px;
  width: 100%;
  height: 20px;
}
.tcs .header_container .wins, .tcs .header_container .elims, .tcs .header_container .avgplace {
  display: none !important;
}
@media (min-width: 769px) {
  .tcs .header_container {
    grid-template-columns: 0.8fr 3fr 1fr 1fr;
  }
  .tcs .header_container .wins {
    display: flex !important;
  }
}
@media (min-width: 890px) {
  .tcs .header_container {
    grid-template-columns: 0.8fr 3fr 1fr 1fr 1fr;
  }
  .tcs .header_container .elims {
    display: flex !important;
  }
}
@media (min-width: 1000px) {
  .tcs .header_container {
    grid-template-columns: 0.8fr 5fr 1fr 1fr 1fr 1fr;
  }
  .tcs .header_container .avgplace {
    display: flex !important;
  }
}
.tcs .header_container .rank_header {
  height: inherit;
  width: inherit;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: transparent;
  font-size: 0.6rem;
}
.tcs .header_container .name_header {
  height: inherit;
  width: inherit;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: transparent;
  font-size: 0.6rem;
}
.tcs .header_container .info_header {
  height: inherit;
  width: inherit;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "GoodTimes";
  background-color: transparent;
  font-size: 0.6rem;
}

/*# sourceMappingURL=style.css.map */
