@font-face {
    font-family: 'OmnesBlack';
    src: url('font/OmnesBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesSemiBold';
    src: url('font/OmnesSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.row_container{

    display: flex;
    gap: 7px;

    .name_container{

        height: 55.04px;
        width: 1025px;

        background-color: white;
        border-radius: 11px;

        display: flex;
        align-items: center;
        gap: 30px;

        .rank_container{

            height: 48.01px;
            width: 72px;

            margin-left: 5px;

            background-color: #00c2e8;
            border-radius: 11px;

            color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 26px;
            font-family: 'OmnesBlack';

        }

        .team_name{
            font-family: 'OmnesBlack';
            font-size: 26px;
            color: #00c2e8;
        }

    }

    .info_box{
        height: 55.04px;
        width: 118.99px;

        background-color: white;
        border-radius: 11px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'OmnesBlack';
        font-size: 26px;
        color: #00c2e8;
    }
}

.leaderboard_table{
    position: absolute;
    width: 1920px;
    height: 1080px;

    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.header_container{

    display: flex;
    gap: 7px;

    .name_header{
        width: 1025px;
        height: 41.03px;

        box-shadow: inset 0 0 0 4px white;
        border-radius: 11px;

        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 36px;

        color: white;
        font-family: 'OmnesBlack';
        font-size: 20.01px;
    }

    .info_header{
        width: 118.99px;
        height: 41.03px;

        box-shadow: inset 0 0 0 4px white;
        border-radius: 11px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-family: 'OmnesBlack';
    }

}

.leaderboard_container{
    width: 1920px;
    height: 1080px;
    background-image: url("asset/background.png");

    .wolt_character{
        position: absolute;
        width: 1920px;
        height: 1080px;
        margin-left: -350px;
        pointer-events: none;
        background-image: url("asset/wolt_character.png");
    }
}