@font-face {
    font-family: 'Eurostile';
    src: url('font/Eurostile.otf');
    font-weight: normal;
    font-style: normal;
}

@keyframes transition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.leaderboard_stizo{

    .leaderboard_table{
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 166px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        @for $i from 1 through 11 {
            .row_container:nth-child(#{$i}) {
                animation: transition 0.4s ease-in forwards;
                animation-delay: #{($i) * 0.2}s;
            }
        }
    }


    .leaderboard_container{
        width: 1920px;
        height: 1080px;
        background-image: url("./asset/background.png");
    
    }

    .row_container{

        display: flex;
        gap: 15px;
        color: black;
        box-shadow: inset 0 0 0 5px black;
        opacity: 0;
    




        .rank_container{
    
            height: 62px;
            width: 90px;

            margin-left: 5px;   
            background-color: transparent; 

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 26px;
            font-family: 'Eurostile';

        }

        .name_container{
    
            height: 58px;
            width: 579px;
    
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            background-color: transparent; 

            font-family: 'Eurostile';
            font-size: 20px;
            text-align: center;
        }
    
        .info_box{
            height: 58px;
            width: 118.99px;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent; 
    
            font-family: 'Eurostile';
            font-size: 26px;
            color: black;
        }
    }

    .header_container{

        display: flex;
        gap: 15px;
        box-shadow: inset 0 0 0 5px black;
        background-color: black;        

        .rank_header{
            width: 90px;
            height: 62px;

            margin-left: 5px;  
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 36px;
    
            color: white;
            font-family: 'Eurostile';
        }

        .name_header{
            width: 579px;
            height: 62px;
                

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 36px;
            box-shadow: inset 0 0 0 4px black;
            color: white;
            font-family: 'Eurostile';
        }
    
        .info_header{
            width: 118.99px;
            height: 62px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 0 0 4px black;
            color: white;
            font-family: 'Eurostile';
        }
    
    }

}