@font-face {
  font-family: "OmnesBlack";
  src: url("OmnesBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OmnesSemiBold";
  src: url("OmnesSemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IMPACT";
  src: url("IMPACT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DrukMedium";
  src: url("DrukMedium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GroldMedium";
  src: url("GroldMedium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eurostile";
  src: url("Eurostile.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GoodTimes";
  src: url("good_times.OTF");
  font-weight: 800;
  font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
  width: 1920px;
  height: 1080px;
  user-select: none;
}

.row_container {
  display: flex;
  gap: 7px;
}
.row_container .name_container {
  height: 55.04px;
  width: 1025px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.row_container .name_container .rank_container {
  height: 48.01px;
  width: 72px;
  margin-left: 5px;
  background-color: #00c2e8;
  border-radius: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "OmnesBlack";
}
.row_container .name_container .team_name {
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}
.row_container .info_box {
  height: 55.04px;
  width: 118.99px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #00c2e8;
}

.leaderboard_table {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.header_container {
  display: flex;
  gap: 7px;
}
.header_container .name_header {
  width: 1025px;
  height: 41.03px;
  box-shadow: inset 0 0 0 4px white;
  border-radius: 11px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "OmnesBlack";
  font-size: 20.01px;
}
.header_container .info_header {
  width: 118.99px;
  height: 41.03px;
  box-shadow: inset 0 0 0 4px white;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "OmnesBlack";
}

.leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-image: url("leaderboard_background.png");
}
.leaderboard_container .wolt_character {
  position: absolute;
  width: 1920px;
  height: 1080px;
  margin-left: -350px;
  pointer-events: none;
  background-image: url("wolt_character.png");
}

.reddysh_royale .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.reddysh_royale .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-image: url("reddysh_royale_background.png");
}
.reddysh_royale .row_container {
  display: flex;
  gap: 15px;
}
.reddysh_royale .row_container .rank_container {
  height: 58px;
  width: 69px;
  margin-left: 5px;
  background-color: white;
  border-radius: 20px;
  color: #c15c6f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "OmnesBlack";
}
.reddysh_royale .row_container .name_container {
  height: 58px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "IMPACT";
  color: #9ed2d8;
  font-size: 26px;
}
.reddysh_royale .row_container .info_box {
  height: 58px;
  width: 118.99px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OmnesBlack";
  font-size: 26px;
  color: #9ed2d8;
}
.reddysh_royale .header_container {
  display: flex;
  gap: 15px;
  box-shadow: none;
  background-color: #c15c6f;
  border-radius: 20px;
}
.reddysh_royale .header_container .rank_header {
  width: 69px;
  height: 41.03px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "IMPACT";
}
.reddysh_royale .header_container .name_header {
  width: 600px;
  height: 41.03px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "IMPACT";
}
.reddysh_royale .header_container .info_header {
  width: 118.99px;
  height: 41.03px;
  box-shadow: none;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "IMPACT";
}

.twitch_polls {
  position: relative;
  width: 1920px;
  height: 1080px;
  font-family: "IMPACT";
}
.twitch_polls .container {
  position: absolute;
  right: 30px;
  top: 114px;
  width: fit-content;
  min-width: 300px;
  padding: 25px;
  background-color: #ababdf;
}
.twitch_polls .container .question {
  width: 100%;
  font-family: "IMPACT";
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.twitch_polls .container .choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.twitch_polls .container .choices .choice {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: #ababdf;
  justify-content: space-between;
}
.stizo_cup .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.stizo_cup .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-image: url("stizo_cup_background.png");
}
.stizo_cup .row_container {
  display: flex;
  gap: 15px;
  color: white;
  box-shadow: inset 0 0 0 5px white;
}
.stizo_cup .row_container .rank_container {
  height: 62px;
  width: 90px;
  margin-left: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Eurostile";
}
.stizo_cup .row_container .name_container {
  height: 58px;
  width: 579px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
}
.stizo_cup .row_container .info_box {
  height: 58px;
  width: 118.99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
  color: white;
}
.stizo_cup .header_container {
  display: flex;
  gap: 15px;
  box-shadow: inset 0 0 0 5px white;
  background-color: white;
}
.stizo_cup .header_container .rank_header {
  width: 90px;
  height: 62px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: black;
  font-family: "Eurostile";
}
.stizo_cup .header_container .name_header {
  width: 579px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: black;
  font-family: "Eurostile";
}
.stizo_cup .header_container .info_header {
  width: 118.99px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Eurostile";
}

.tcs .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #002a4d;
}
.tcs .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  background-image: none;
}
.tcs .row_container {
  display: flex;
  gap: 10px;
}
.tcs .row_container .rank_container {
  height: 75px;
  width: 117px;
  margin-left: 5px;
  background-color: white;
  border-bottom: 5px solid #ffe400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "GoodTimes";
}
.tcs .row_container .name_container {
  height: 75px;
  width: 1107px;
  background-color: white;
  border-radius: 0;
  border-bottom: 5px solid #ffe400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "GoodTimes";
  font-size: 26px;
}
.tcs .row_container .info_box {
  height: 75px;
  width: 116px;
  border-radius: 0;
  background-color: white;
  border-bottom: 5px solid #ffe400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GoodTimes";
  font-size: 26px;
  color: #002a4d;
}
.tcs .header_container {
  display: flex;
  gap: 10px;
  box-shadow: none;
  border-radius: 0;
}
.tcs .header_container .rank_header {
  width: 117px;
  height: 40px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}
.tcs .header_container .name_header {
  width: 1107px;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}
.tcs .header_container .info_header {
  width: 116px;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "GoodTimes";
  background-color: #0070be;
}

@keyframes trans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.doigby {
  font-family: DrukMedium;
}
.doigby .leaderboard_table {
  position: relative;
  height: fit-content;
  width: min-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 7.5px;
  margin-top: 85px;
  height: 572.5px;
}
.doigby .leaderboard_table.table1 .row_container:nth-child(2) {
  background-image: url("row1.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0s;
}
.doigby .leaderboard_table.table1 .row_container:nth-child(3) {
  background-image: url("row2.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.2s;
}
.doigby .leaderboard_table.table1 .row_container:nth-child(4) {
  background-image: url("row3.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.4s;
}
.doigby .leaderboard_table.table1 .row_container:nth-child(5) {
  background-image: url("row4.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.6s;
}
.doigby .leaderboard_table.table1 .row_container:nth-child(6) {
  background-image: url("row5.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.8s;
}
.doigby .leaderboard_table.table2 .row_container:nth-child(2) {
  background-image: url("row6.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.2s;
}
.doigby .leaderboard_table.table2 .row_container:nth-child(3) {
  background-image: url("row7.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.4s;
}
.doigby .leaderboard_table.table2 .row_container:nth-child(4) {
  background-image: url("row8.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.6s;
}
.doigby .leaderboard_table.table2 .row_container:nth-child(5) {
  background-image: url("row9.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.8s;
}
.doigby .leaderboard_table.table2 .row_container:nth-child(6) {
  background-image: url("row10.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 1s;
}
.doigby .leaderboard_table.table3 .row_container:nth-child(2) {
  background-image: url("row11.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.4s;
}
.doigby .leaderboard_table.table3 .row_container:nth-child(3) {
  background-image: url("row12.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.6s;
}
.doigby .leaderboard_table.table3 .row_container:nth-child(4) {
  background-image: url("row13.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 0.8s;
}
.doigby .leaderboard_table.table3 .row_container:nth-child(5) {
  background-image: url("row14.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 1s;
}
.doigby .leaderboard_table.table3 .row_container:nth-child(6) {
  background-image: url("row15.png");
  animation: trans 0.4s ease-in forwards;
  animation-delay: 1.2s;
}
.doigby .leaderbaord_page {
  display: flex;
  gap: 7.5px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.doigby .leaderboard_container {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: none;
  background-size: contain;
  background-image: url("leaderboard.png");
}
.doigby .row_container {
  align-items: center;
  gap: 0px;
  border-radius: 5px;
  opacity: 0;
  font-family: "DrukMedium";
  color: #110737;
  background-size: contain;
  width: 597px;
  height: 102px;
  display: grid;
  grid-template-columns: 117px 250px repeat(4, 1fr) 25px;
}
.doigby .row_container .rank_container {
  min-width: 117px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 48px;
}
.doigby .row_container .name_container {
  background-color: transparent;
  width: 250px;
  font-family: "GroldMedium";
  font-size: 20px;
}
.doigby .row_container .info_box {
  background-color: transparent;
  font-family: "DrukMedium";
  color: #110737;
  font-size: 38px;
  width: auto;
}
.doigby .row_container .info {
  display: flex;
  flex-grow: 1;
  width: max-content;
  gap: 5px;
  justify-content: space-evenly;
}
.doigby .row_container .info .info_box {
  background-color: transparent;
  font-family: "DrukMedium";
  color: #110737;
  font-size: 38px;
  width: auto;
}
.doigby .header_container {
  display: flex;
  width: 597px;
  box-shadow: none;
  color: #e194ff;
  font-size: 16px;
  height: 25px;
  gap: 0;
  font-family: "GroldMedium";
  width: 597px;
  display: grid;
  align-items: center;
  grid-template-columns: 117px 250px repeat(4, 1fr) 25px;
}
.doigby .header_container .rank_header {
  min-width: 117px;
  height: 20px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doigby .header_container .name_header {
  height: 25px;
  width: 250px;
  font-size: 16px;
  color: #e194ff;
  font-family: "GroldMedium";
  box-shadow: none;
  border-radius: 0;
}
.doigby .header_container .info_header {
  height: 25px;
  background-color: transparent;
  font-family: "GroldMedium";
  color: #e194ff;
  font-size: 16px;
  width: auto;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
