@font-face {
    font-family: 'GoodTimes';
    src: url('font/good_times.OTF');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Bahnschrift";
    src: url('./font/Bahnschrift.TTF')
}

@font-face{
    font-family: "GeomGraphic";
    src: url('./font/GeomGraphic.otf')
}

@font-face{
    font-family: "Zuume";
    src: url('./font/Zuume.ttf')
}

.havok-invitational{
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    .leaderboard_table{
        position: relative;
        width: fit-content;
        height: fit-content;
    
        flex-direction: column;
        gap: 6px;
        color: #002a4d;
    }


    .leaderboard_container{
        width: 1920px;
        height: 1080px;
        background-color: transparent;
        background-image: none;   
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    @for $i from 0 through 11 {
        .row_container:nth-child(#{$i}) {
            animation: transition 0.4s ease-in forwards;
            animation-delay: #{($i) * 0.2}s;
        }
    }

    .row_container{

        display: flex;
        gap: 6px;
        opacity: 0;


    
        .rank_container{
    
            height: 59px;
            width: 74px;

            margin-left: 5px;
            color: white;
            background-color:  white;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 40px;
            font-family: 'Zuume';

        }

        .name_container{
    
            height: 59px;
            width: 315px;
    
            background-color: #000;
            border-radius: 0;
    
            color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            font-family: 'GeomGraphic';
            font-size: 20px;
            font-weight: 100;
        }
    
        .info_box{
            height: 59px;
            width: 73px;
            border-radius: 0;
    
            background-color: #c0c2ca;
            
            display: flex;
            align-items: center;
            justify-content: center;
    
            font-family: 'Bahnschrift';
            font-size: 20px;
            color: #000;
        }
    }

    .header_container{

        display: flex;
        gap: 6px;
        box-shadow: none;
        border-radius: 0;

        .rank_header{
            height: 20px;
            width: 74px;
            
            color: transparent;
        }

        .name_header{
            height: 20px;
            width: 315px;
            box-shadow: none;
            color: transparent;
        }
    
        .info_header{
            width: 73px;
            height: 20px;
    
            box-shadow: none;
            border-radius: 0;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            color: #000;
            font-family: 'Bahnschrift';
            font-weight: 100;
        }
    
    }

}